/* colors */
$white: #fff;
$grey: #E5E5E5;
$green: #477358;
$hgreen: #4b8260 ;
/* fonts */
$small: 0.72rem;
$smaller: 0.9rem;
$smaller_plus: 1.5rem;
$middle: 2rem;
$bigger: 2.3rem;
/* line-height */
$standart: 1.8;